.env
env/

.Mates/media/
Mates/media/

.Mates/static/
Mates/static/

.MatesFront
MatesFront/

.Mates/Messages/
Mates/Messages/


# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# ACCOUNT_EMAIL_VERIFICATION = 'mandatory'
# EMAIL_HOST = 'smtp.gmail.com'
# EMAIL_USE_TLS = True
# EMAIL_PORT = 587
# EMAIL_HOST_USER = 'om3309967@gmail.com'
# EMAIL_HOST_PASSWORD = 'enlt ewwj hfsc dfmx'